@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1220px) {
  .product__row {
    display: flex;
    justify-items: center;
    align-items: center;
  }
}
@media (max-width: 900px) {
  /* .header__top {
    display: flex;
    flex-direction: column;
  } */
  .header__input {
    display: none;
  }
  /* .header__contacts {
    display: none;
    /font-size: 14px;
  } */
  .category__section--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .category__block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* .product__row {
    display: flex;
    justify-items: center;
    align-items: center;
  } */
}

/* @media (max-width: 560px) {
  .header__contacts {
    display: none;
  }
} */
